page-adminform {
.align
{
    text-align: center;
}
.margin
{
    margin-top: 9em
}
.bggg
{
    background-color: #009999;
    
}
.alignn
{
    text-align: center;
    margin-top: 8em;
}
.bg{
    background-image: url('../assets/imgs/back.jpg');
    background-position: no-repeat;
    background-position: center;
    background-size:cover;
  }
}
