page-getpassword {
    .bg{
        background-image: url('../assets/imgs/back.jpg');
        background-position: no-repeat;
        background-position: center;
        background-size:cover;
      }
   .align{
       margin-top: 9em;
   }
   .txt{
       text-align: center;
   }
}
