<ion-header>
        <ion-navbar color='primary'>
           <ion-title>Technical-Event</ion-title>
         </ion-navbar>
       </ion-header>
         <ion-content class="card-background-page">
         <ion-card>
             <ion-card-header (click)="onCad()">
                <div><img src="assets/imgs/cad3.jpg" /></div>
                
             </ion-card-header>
             <ion-card-content #cad text-justify>
              <div style=color:blue>
                 <br>Enter the world of mechanical engineering and communicate with our languages in a digital mnaner i.e computer Aided Design(CAD).not only communicate CONQUER with your knowledge.
                  CAD CONQUER is an design oriented event in which different levels will be conducted.the one who reaches the finals by clearing all the stages with their drawings will be awarded as CAD conquer.</div>
                  <br><b>Organized by :department of CSE and MECH.</b>
              
               <b class="bh">Details:</b>
               <ol>
                  <li>Co-Ordinator:Mr.k.sai</li>
                  <li>Contact:9988776655</li>
                  <li>Mailus:hungama@gmail.com</li>
                  <li>Registration fee:Rs.250/- per team</li>
                  <li>Team Size:1(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button ion-button round (click)=a() #cadconquerv>+</button>
                 </ol>
                 <b class="bh">prize money:2000/-rs</b>
              </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onCog()">
              <div><img src="assets/imgs/cognito-tesoro.jpg"/></div>
              
             </ion-card-header>
             <ion-card-content #cog text-justify>
                 <div style=color:blue>
                    Here is our answer-To get you to a treasure! Get your basics to work and apply the logics you have learnt to drive you to a whole new world of treasure. 
                    Given a brain teaser, crack it to get the logic behind which the clues are hidden.Solve all the clues in the least possible time to reach the treasure. Programming language is left to the choice of the participant.</div>
                   <br><b> Organized by: Department of IT.</b>
                   <b class="bh">Details:</b>
                   <ol>
                      <li>Co-Ordinator:Mr.k.Omsai</li>
                      <li>Contact:9988776655</li>
                      <li>Mailus:hungama@gmail.com</li>
                      <li>Registration fee:Rs.100/- per team</li>
                      <li>Team Size:1(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button ion-button round (click)=b() #cognitivev>+</button>
                 </ol>
                 <b class="bh">prize money:2000/-rs</b>                      
            </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onEle()">
              <div><img src="assets/imgs/electrozen.jpg"/></div>
              
             </ion-card-header>
             <ion-card-content #ele text-justify>
                 <p>
                   <div style=color:blue>This is one kind of event that brings out a Tesla with in you and all mark you as the king of circuits if you emerge as a winner \"ELECTROZEN\"  is a technical event that enhances your circuit designing skills.</div>
                   <br><b>Organized by: Department of EEE.</b>
                    <b class="bh">Details:</b>
                    <ol>
                        <li>Co-Ordinator:Mr.P.Bhanu</li>
                        <li>Contact:9345678921</li>
                        <li>Mailus:hungama@gmail.com</li>
                        <li>Registration fee:Rs.250/- per team</li>
                        <li>Team Size:1-2(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button ion-button round (click)=c() #electrozenv>+</button>
                  </ol>
                  <b class="bh">prize money:2000/-rs</b>
                </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onFox()">
              <div><img src="assets/imgs/fox-hunt.jpg"/></div>
              
             </ion-card-header>
             <ion-card-content #fox text-justify>
                 <div style=color:blue>
                   <br>Foxhunt (also known as T-hunting,transmitter hunting,bunny hunting and bunny chasing), is an activity wherein participants use radio direction finding techniques to locate one or more radio transmitters hidden within a designated search area. This activity is most popular among amateur radio enthusiasts, and one organized spot variation is known as amateur radio direction finding. So in this events the participants themselves should prepare their receivers and tune their receivers to transmitter's frequency to find out the hidden transmitter.</div>
                    <br><b>Organized by ECE.</b>
                      <b class="bh">Details:</b>
                      <ol>
                          <li>Co-Ordinator:Mr.k.Abhi</li>
                          <li>Contact:9765895432</li>
                          <li>Mailus:hungama@gmail.com</li>
                          <li>Registration fee:Rs.300/- per team</li>
                          <li>Team Size:1-2(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button ion-button round (click)=d() #foxhuntv>+</button>
                    </ol>
                    <b class="bh">prize money:2000/-rs</b>
                    </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onGor()">
              <div><img src="assets/imgs/gordion-knot.png"/></div>
              
             </ion-card-header>
             <ion-card-content #gor text-justify>
                 <div style=color:blue>
                   <br>"Complex codes kill the essence of programming."-is a myth. Tired of reducing complexity of code? Get ready to write the most complex code to a problem statement. Encode the logic in the most compkex way by increasing the fuzzy logics in your program. Decode the logics of your compititors in the least possible time and join the ways of winning. Analyse the logic to write a progrm with  a maximum time complexity but with the least space complexity. Beaware that our program must give the same output as specified by the problem statement so infinate loops aren't option.</div>
                    <br><b>Organized by: Department of IT.</b>
                       <b class="bh">Details:</b>
                       <ol>
                          <li>Co-Ordinator:Mr.k.Phani</li>
                          <li>Contact:9123456789</li>
                          <li>Mailus:hungama@gmail.com</li>
                          <li>Registration fee:Rs.200/- per team</li>
                          <li>Team Size:1(max)</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button ion-button round (click)=e() #gordianknotv>+</button>
                     </ol>
                     <b class="bh">prize money:2000/-rs</b>
                  </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header (click)="onPos()">
             <div><img src="assets/imgs/poster.jpg"/></div>
            
            </ion-card-header>
            <ion-card-content #pos text-justify>
                <div style=color:blue>
                  <br>Posters are often use to share information and are an important part of many conferences,seminars and exhibitions. They may be used to present quite complex material, and so it is important that the information on them is well laid out, legible and attractively presented the best way to present your ideas is poster presentation, think creatively and present your views.</div>
                   <br><b>Organized by: Department of Power Engineering</b>
                      <b class="bh">Details:</b>
                      <ol>
                          <li>Co-Ordinator:Mr.k.Vamsy</li>
                          <li>Contact:9977665544</li>
                          <li>Mailus:hungama@gmail.com</li>
                          <li>Registration fee:Rs.200/- per team</li>
                          <li>Team Size:1(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button ion-button round (click)=f() #posterv>+</button>
                    </ol>
                    <b class="bh">prize money:2000/-rs</b>
                   </ion-card-content>
         </ion-card>
         <ion-card>
          <ion-card-header (click)="onTech()">
           <div><img src="assets/imgs/tech quiz.png"/></div>
          
          </ion-card-header>
          <ion-card-content #tech text-justify>
              <div style=color:blue>
                <br>How much you know about the advanced technology? If you want to explore your knowledge in the field of various streems. 
                Then here is the chance to face the technical questions, and test your memory by the quirky questions coming your way. </div>
                <br><b>Organized by: CSE</b>    
                <b class="bh">Details:</b>
                    <ol>
                        <li>Co-Ordinator:Mr.G.Siva</li>
                        <li>Contact:9922334455</li>
                        <li>Mailus:hungama@gmail.com</li>
                        <li>Registration fee:Rs.200/- per team</li>
                        <li>Team Size:1-2(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button ion-button round (click)=g() #quizv>+</button>
                  </ol>
                  <b class="bh">prize money:2000/-rs</b>
               </ion-card-content>
       </ion-card>
       <ion-card>
        <ion-card-header (click)="onDeb()">
         <div><img src="assets/imgs/debugging contest.png"/></div>
         
        </ion-card-header>
        <ion-card-content #deb text-justify>
            <div style=color:blue>
              <br>Your mind is organized to make sense out of poor quqlity, poorly preceived, and poorly organized input. 
              This hurts you badly during debugging, beacause you tend to read code in such a way that you see what it should say, ratherthan what it actually says. 
              Beacuse the compiler as not even an approximation to a human mind.</div>
               <br><b> Organized by Department Of CSE.</b>
            
                  <b class="bh">Details:</b>
                  <ol>
                  <li>Co-Ordinator:Mr.k.Omsai</li>
                  <li>Contact:9988776655</li>
                  <li>Mailus:hungama@gmail.com</li>
                  <li>Registration fee:Rs.100/- per team</li>
                  <li>Team Size:1-2(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button ion-button round (click)=h() #debugv>+</button>
                </ol>
                <b class="bh">prize money:2000/-rs</b>
           </ion-card-content>
      </ion-card>
      </ion-content>