<ion-header >
    <ion-navbar color='primary'>
       <ion-title>Spotlight</ion-title>
     </ion-navbar>
   </ion-header>
     <ion-content>
     <ion-card >
         <ion-card-header (click)="onTh()">
        <div class="reframe"><img src="assets/imgs/th5.jpg" /></div> 
          
         </ion-card-header>
         <ion-card-content #Th>
           <!-- <p  style="color: black">Treasure your relationships,not your possessions</p> -->
           <div  style="color:darkblue">Treasure your relationships,not your possessions</div>
             <b class="b">Details: </b>
           <pre style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: black">
          Participation fee-50 per head
          Timings:9 to 11
          Coordinators:Raghu,Kavya
          Team size:3
           </pre>
           <button ion-button round (click)=a() #treasurehunt>+</button>
              <br>
           <b class="b">prize money:500/-</b>
         </ion-card-content>
      </ion-card>
      <ion-card>
         <ion-card-header (click)="onSd()">
         <div class="reframe"><img src="assets/imgs/sd2.jpg"/></div> 
         
         </ion-card-header>
         <ion-card-content #Sd>
 
<div  style="color:darkblue">Never miss a chance to DANCE </div>
             <b class="b">Details: </b>
             <pre style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
            Participation fee-50 per head
            Timings:2 to 4
            Coordinators:shyam,vikas
            Team size:4
             </pre>
             <button ion-button round (click)=b() #spotdance>+</button>
                <br>
             <b class="b">prize money: 1000/-</b>
           </ion-card-content>
        </ion-card>
      <ion-card>
         <ion-card-header (click)="onSc()">
         <div class="reframe"><img src="assets/imgs/sf2.jpg"/></div> 
         
         </ion-card-header>
         <ion-card-content #Sc>
             <div  style="color:darkblue">Best.Selfie.Ever</div>
             <b class="b">Details: </b>
             <pre style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
            Participation fee-50 per head
            Timings:2 to 4
            Coordinators: Monica,Bhoomi
            Team size:1
             </pre>
             <button ion-button round (click)=c() #selfiecontest>+</button>
                <br>
             <b class="b">prize money: 500/-</b>
           </ion-card-content>
        </ion-card>
      <ion-card>
         <ion-card-header (click)="onSf()">
         <div class="reframe"><img src="assets/imgs/sf5.jpg"/></div> 
         
         </ion-card-header>
         <ion-card-content #Sf>
             <div  style="color:darkblue">Every short film story is golden oppurtunity to showcase creativity</div>
             <b class="b">Details: </b>
             <pre style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
            Participation fee-50 per head
            Timings:1'00 clock 
            Coordinators:Bharati and Jyosna
            Team size:1
             </pre>
             <button ion-button round (click)=d() #shortfilms>+</button>
                <br>
             <b class="b">prize money: 1500/-</b>
           </ion-card-content>
        </ion-card>
      <ion-card>
         <ion-card-header (click)="onPa()">
         <div class="reframe"><img src="assets/imgs/painting.jpg"/></div> 
         
         </ion-card-header>
         <ion-card-content #Pa>
             <div  style="color:darkblue">Painting is a mode of creative expression, and can be done in numerous forms. Drawing, gesture (as in gestural painting), composition, narration (as in narrative art), or abstraction</div>
             <b class="b">Details: </b>
             <pre style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
            Participation fee-50 per head
            Timings:3'00 clock
            Coordinators:charan and Murali
            Team size:2
             </pre>
             <button ion-button round (click)=e() #painting>+</button>
                <br>
             <b class="b">prize money: 2000/-</b>
           </ion-card-content>
        </ion-card>
  </ion-content>