<ion-header>
        <ion-navbar color='primary'>
           <ion-title>Power Point Presentation</ion-title>
         </ion-navbar>
       </ion-header>
         <ion-content class="card-background-page">
         <ion-card>
             <ion-card-header (click)="onMech()">
                <div><img src="assets/imgs/MECH.jpg" /></div>
                <div class="card-title"></div>
             </ion-card-header>
             <ion-card-content #mech text-justify>
              <div style=color:blue>
                 <br>1.Robotics and industrial automations
                 <br>2.Advanced materials and design
                 <br>3.Renewable energy and alternate fuels
                 <br>4.Additive and sustainable manufacturing technologies
                 <br>5.Condition monitoring and reliability
              </div>
               <b class="bh">Details:</b>
               <ol>
                  <li>Co-Ordinator:Mr.k.sai</li>
                  <li>Contact:9988776655</li>
                  <li>Mailus:hungama@gmail.com</li>
                  <li>Registration fee:Rs.250/- per team</li>
                  <li>Team Size:1(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button ion-button round (click)=mechss() #mechv>+</button>
                 </ol>
                 <b class="bh">prize money:2000/-rs</b>
              </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onEce()">
              <div><img src="assets/imgs/ECE.jpg"/></div>
              <div class="card-title"></div>
             </ion-card-header>
             <ion-card-content #ece text-justify>
                 <div style=color:blue>
                   <br>1.Emerging technologies in wireless communications
                   <br>2.Artificial intelligence
                   <br>3.VLSI and Embedded systems
                   <br>4.environmental engineering
                   <br>5.Fuzzy and Neural networks
                   <br>6.Cellular and mobile communications
                 </div>
                   <b class="bh">Details:</b>
                   <ol>
                      <li>Co-Ordinator:Mr.k.Omsai</li>
                      <li>Contact:9988776655</li>
                      <li>Mailus:hungama@gmail.com</li>
                      <li>Registration fee:Rs.100/- per team</li>
                      <li>Team Size:1(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button ion-button round (click)=ecess() #ecev>+</button>
                 </ol>
                 <b class="bh">prize money:2000/-rs</b>                      
             </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onCse()">
              <div><img src="assets/imgs/CSE.jpg"/></div>
              <div class="card-title"></div>
             </ion-card-header>
             <ion-card-content #cse text-justify>
                 <div style=color:blue>
                   <br>1.BigData analytics
                   <br>2.Cyber security
                   <br>3.Artificial intelligence
                   <br>4.Internet of things
                   <br>5.Network security
                 </div><br>
                   <b class="bh">Details:</b>
                    <ol>
                        <li>Co-Ordinator:Mr.P.Bhanu</li>
                        <li>Contact:9345678921</li>
                        <li>Mailus:hungama@gmail.com</li>
                        <li>Registration fee:Rs.250/- per team</li>
                        <li>Team Size:1-2(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button ion-button round (click)=csess() #csev>+</button>
                  </ol>
                  <b class="bh">prize money:2000/-rs</b>
                </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onEee()">
              <div><img src="assets/imgs/EEE.jpg"/></div>
              <div class="card-title"></div>
             </ion-card-header>
             <ion-card-content #eee text-justify>
                 <div style=color:blue>
                   <br>1.wireless power trasmissions
                   <br>2.EHV technologies
                   <br>3.Smart Grid
                   <br>4.Hybrid electric vechicals
                   <br>5.Industrial automations
                 </div><br>
                   <b class="bh">Details:</b>
                      <ol>
                          <li>Co-Ordinator:Mr.k.Abhi</li>
                          <li>Contact:9765895432</li>
                          <li>Mailus:hungama@gmail.com</li>
                          <li>Registration fee:Rs.300/- per team</li>
                          <li>Team Size:1-2(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button ion-button round (click)=eeess() #eeev>+</button>
                    </ol>
                    <b class="bh">prize money:2000/-rs</b>
                    </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onIt()">
              <div><img src="assets/imgs/IT.jpg"/></div>
              <div class="card-title"></div>
             </ion-card-header>
             <ion-card-content #it text-justify>
                 <div style=color:blue>
                   <br>1.Virtual reality
                   <br>2.Data monitoring
                   <br>3.Cloudcomputing
                   <br>4.wireless technologies
                   <br>5.Artificial intelligence
                 </div>
                       <b class="bh">
                           <br>Details:</b>
                       <ol>
                          <li>Co-Ordinator:Mr.k.Phani</li>
                          <li>Contact:9123456789</li>
                          <li>Mailus:hungama@gmail.com</li>
                          <li>Registration fee:Rs.200/- per team</li>
                          <li>Team Size:1(max)</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button ion-button round (click)=itss() #itv>+</button>
                     </ol>
                     <b class="bh">prize money:2000/-rs</b>
                  </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header (click)="onChem()">
             <div><img src="assets/imgs/CHEM.jpg"/></div>
             <div class="card-title"></div>
            </ion-card-header>
            <ion-card-content #chem text-justify>
                <div style=color:blue>
                  <br>1.Chemical reaction engineering
                  <br>2.Process integration and intensification
                  <br>3.Advanced seperation processes
                  <br>4.Energy and environment
                  <br>5.Advanced materials(bio, nano and polymers)
                </div>
                      <b class="bh">Details:</b>
                      <ol>
                          <li>Co-Ordinator:Mr.k.Vamsy</li>
                          <li>Contact:9977665544</li>
                          <li>Mailus:hungama@gmail.com</li>
                          <li>Registration fee:Rs.200/- per team</li>
                          <li>Team Size:1(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button ion-button round (click)=chemss() #chemv>+</button>
                    </ol>
                    <b class="bh">prize money:2000/-rs</b>
                   </ion-card-content>
         </ion-card>
         <ion-card>
          <ion-card-header (click)="onCivil()">
           <div><img src="assets/imgs/CIVIL.jpg"/></div>
           <div class="card-title"></div>
          </ion-card-header>
          <ion-card-content #civil text-justify>
              <div style=color:blue>
                <br>1.Low cost construction
                <br>2.Concrete technology
                <br>3.Geo technical engineering
                <br>4.Disaster resisting solutions
              </div>
                <br>   
                <b class="bh">Details:</b>
                    <ol>
                        <li>Co-Ordinator:Mr.G.Siva</li>
                        <li>Contact:9922334455</li>
                        <li>Mailus:hungama@gmail.com</li>
                        <li>Registration fee:Rs.200/- per team</li>
                        <li>Team Size:1-2(max)</li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button ion-button round (click)=civilss() #civilv>+</button>
                  </ol>
                  <b class="bh">prize money:2000/-rs</b>
               </ion-card-content>
       </ion-card>
       
      </ion-content>