.bt{
    button-color: darkorchid;
    button-position: center;
    }
.pg{
    background-image: url('../assets/imgs/bgc.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-color:green;
    background-size:1500px 800px;
}