<ion-header>
        <ion-navbar color='primary'>
           <ion-title>workshops</ion-title>
         </ion-navbar>
       </ion-header>
         <ion-content class="card-background-page">
         <ion-card>
             <ion-card-header (click)="onIot()">
            <div class="reframe"><img src="assets/imgs/iot.jpg"/></div> 
              
             </ion-card-header>
             <ion-card-content #iot>
               <div style=color:blue>The Internet of Things (IoT) is the network of physical devices, vehicles, home appliances and other 
                 items embedded with electronics, software, sensors, actuators, and connectivity which enables these 
                 objects to connect and exchange data.</div>
               <b class="b">Topics will be covered:</b>
               <ol>
               <li>Sensors</li>
               <li>Development kits</li>
               <li>Raspberry pi</li>
               <li>Cloud</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <ion-fab (click)="a()" #iotv>
                   <button ion-fab mini><ion-icon name="add"></ion-icon>+</button>           
                  </ion-fab>
                 </ol>
               <b class="b">price: 20000/-</b>
             </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onBc()">
             <div class="reframe"><img src="assets/imgs/bc.jpg"/></div> 
             
             </ion-card-header>
             <ion-card-content #bc>
                 <div style=color:blue>A blockchain,originally block chain,is a continuously growing list of records, called blocks, which are linked and secured using cryptography.Each block typically contains a
                    cryptographic hash of the previous block,a timestamp, and transaction data.</div>
                   <b class="b">Topics will be covered:</b>
                   <ol>
                   <li>Blocks</li>
                   <li>Decentralization</li>
                   <li>Openness</li>
                   <li>Security</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <ion-fab (click)="b()" #blockchainv>
                       <button ion-fab mini><ion-icon name="add"></ion-icon></button>           
                      </ion-fab>
                 </ol>
                 <b class="b">price: 30000/-</b>
                 <ion-content>
                     <ion-fab>
                       <button ion-fab>Button</button>
                     </ion-fab>
                     <button ion-fab>Button</button>
                    </ion-content>
             </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onMl()">
             <div class="reframe"><img src="assets/imgs/ml1.jpg"/></div> 
             
             </ion-card-header>
             <ion-card-content #ml>
                 <div style=color:blue>Machine learning is a field of computer science that often uses statistical techniques to 
                   give computers the ability to "learn" (i.e.progressively improve performance on a specific 
                   task) with data, without being explicitly programmed</div>
                    <b class="b">Topics will be covered:</b>
                    <ol>
                    <li>Types of learning</li>
                    <li>Machine learning Algorithms</li>
                    <li>Probability</li>
                    <li>Data Analytics</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <ion-fab (click)="c()" #machinelearningv>
                        <button ion-fab mini><ion-icon name="add"></ion-icon></button>           
                       </ion-fab>
                  </ol>
                  <b class="b">price: 50000/-</b>
             </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onCs()">
             <div class="reframe"><img src="assets/imgs/cs.jpg"/></div> 
             
             </ion-card-header>
             <ion-card-content #cs>
                 <div style=color:blue>Cybersecurity, computer security or IT security is the protection of computer systems from theft of or damage to their hardware,
                    software or electronic data, as well as from disruption or misdirection of the services they provide.</div>
                      <b class="b">Topics will be covered:</b>
                      <ol>
                      <li>Networking</li>
                      <li>Hacking</li>
                      <li>kernel basics</li>
                      <li>Security</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <ion-fab (click)="d()" #cybersecurityv>
                          <button ion-fab mini><ion-icon name="add"></ion-icon></button>           
                       </ion-fab>
                    </ol>
                    <b class="b">price: 40000/-</b>
       
             </ion-card-content>
          </ion-card>
          <ion-card>
             <ion-card-header (click)="onBd()">
             <div class="reframe"><img src="assets/imgs/bd1.jpg"/></div> 
             
             </ion-card-header>
             <ion-card-content #bd>
                 <div  style="color:darkblue">Big data is data sets that are so voluminous and complex that traditional data-processing application software are inadequate to deal with them. Big data challenges include capturing data, data storage, data analysis,
                    search, sharing, transfer, visualization, querying, updating, information privacy and data source</div>
                       <b class="b">Topics will be covered:</b>
                       <ol>
                       <li>Hadoop</li>
                       <li>MapReduce</li>
                       <li>Clustering</li>
                       <li>HDFS/li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <ion-fab  (click)="e()" #bigdatav>
                               <button ion-fab mini><ion-icon name="add"></ion-icon></button>           
                              </ion-fab>
                     </ol>
                     <b class="b">price: 30000/-</b>
              </ion-card-content>
          </ion-card>
     </ion-content>
    