page-adminlogin {
    .ali
    {
        text-align: center;
    }
    .b{
        background-image: url('../assets/imgs/back.jpg');
        background-position: no-repeat;
        background-position: center;
        background-size:cover;
    }
}
