spotlights {
  

    .card-content {
        padding: 0px 16px;
        max-height: 0px;
    }
    .card-content {
        padding: 0px 16px;
        max-height: 0px;
    }
 ion-card {
      position: relative;
  text-align:center;
   }
    .b{
        
        text-align: left;
    }
    .card-title {
      position: absolute;
      top: 20%;
      font-size: 2.0em;
      width: 90%;
      font-weight: bold;
      color: #000;

    }
    .card-background-page{
        background-color:lightblue;
    }
ion-card-content{
    background-image:url(../assets/imgs/cuty.jpg);

}
$colors:(
    color:blue
);   
}
